@charset "UTF-8";
/*
#A65C41
#A65C41
#D95829
#DB592A
#332C29*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root { 
    --cor0: #A65C41;
    --cor1: #A65C41;
    --cor2: #D95829;
    --cor3: #a75334;
    --cor4: #332C29; 
    --cor5: white;
    
    --fonte-padrão: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
} /*Essa tecnica é para criar variaveis para faciliatar o entendimentoo e mudança no elemento do codigo.*/

* {
    margin: 0px;
    padding: 0px;
} /* Esse função e uma tecnica para tirar todas as magens e padding de todos os elementos da pagina */

body {
    background-color: var(--cor3);
    font-family: var(--fonte-padrão);
    
}

a.externo::after{
    content: '\1f517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), #332c2969);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
}


header > h1 {   
    text-align: center;
    font-family: var(--fonte-destaque);
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 3em;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.418);
}
    


header > p{
    text-align: center;
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 25px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.418);
}


nav {
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;

}

nav > a {
    color: white;
    text-decoration: none;
    margin-right: 50px;
    
}

nav > a:hover {
    color: var(--cor2);
    text-decoration: underline;
    }

main {
    background-color: white;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;  
    padding: 20px;
    box-shadow: 0 0 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img.irina, main img.idroid{
    width: 80%;
    margin: auto;
    display: block;
}

main img.pequena{
    width: 350px;
    margin: auto;
    display: block;
}

main h1 {
        font-family: var(--fonte-android);
        color: var(--cor2);
        font-weight: normal;
        font-size: 1.8em;

}

main h2 {
    font-family: var(--fonte-android);
    font-size: 1.2em  ;
    color: var(--cor3);
    font-weight: normal;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px; /*para criar o recuo*/
    font-size: 1.2em;
    line-height: 2em; /*para criar o espaçamento entre as linhas*/
}

main strong {
    color: var(--cor2);
    font-weight: bold ;
}

main a{
    text-decoration: none;
    font-weight: bold;
    background-color: #a65c4198;
    color: var(--cor4);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor3);

}

div.video{
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 3%;
    position: relative;
}

div.video > iframe {
    positio: absolute;
    width: 90%;
    height: 500px;
    margin: auto;
    display: block;
    box-shadow: 2px 2px 8px black;
}


aside {
    background-color: var(--cor3);
    padding: 10px;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.548);
    margin-top: 20px;
}
aside h3 {
    background-color: var(--cor4);
    color: #ffffff;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.459);

}
aside ul {
    list-style-type: '\2714\00A0\00A0'; /*não é oompativel com todos os navegadores*/
    list-style-position: inside;
    columns: 2;

}
footer {
    text-align: center;
    background-color: var(--cor4);
    color: white;
    font-size: 1em;
    padding: 10px;

}

footer > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;

}

footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}